---
// Imports
import '../styles/components/defaultInputs.scss'

import type { HTMLAttributes } from 'astro/types';
import type { HTMLString } from 'astro/runtime/server/escape.js';

// Type definitions
export interface Props extends Omit<HTMLAttributes<'input'>, 'type'> {
    align?: 'left' | 'center' | 'right';
    label?: HTMLString | String;
    type?: HTMLAttributes<'input'>['type'];
}

// Component props and configuration
const {
    id, type, label, ...attrs
} = Astro.props

const valueInputs = [
    'button',
    'submit',
    'reset',
    'color'
]

let groupStyle = ''

if ((type as typeof type | 'honeypot') === 'honeypot') {
    groupStyle += 'display:none;visibility:hidden'
}

// Pre-render slot content for value inputs
const slotContent = await Astro.slots.render('default')
const hasSlotContent = slotContent && !valueInputs.includes(type ?? '')
const shouldShowFormGroup = ((hasSlotContent || (valueInputs.includes(type ?? '') && label)) && type !== 'hidden')

---

<!-- Input component -->
{
    shouldShowFormGroup
     ? <div class="formGroup" style={groupStyle}>
        {valueInputs.includes(type ?? '') ? <label for={id} set:html={label} /> : <label for={id}><slot /></label>}
        {
            type === 'file'
             ? <div class="file">
                <label for={id} class="customInput">Choose File</label><input {...attrs} />
            </div>
             : valueInputs.includes(type ?? '') ? <input type={type} value={slotContent} {...attrs} /> : <input type={type} {...attrs} />
        }
    </div>
     : valueInputs.includes(type ?? '') ? <input type={type} value={slotContent} {...attrs} /> : <input type={type} {...attrs} />
}