---
import '../styles/grid.scss'
import '../styles/pages/portfolio.scss'

import Layout from '../layouts/Layout.astro'
import SiteGridContent from '../components/SiteGridContent.astro'

var items = [
  {
    name: 'Graphics for Good', 
    link: {
      url: 'https://graphics-for-good.com', 
      target: '_blank', 
    }, 
    description: 'I helped develop and am the Lead Website Designer and Manager for the Graphics for Good Club at my school.', 
    // class: 'featured', 
  }, 
  // {
  //   name: 'Megan Gillespie', 
  //   link: {
  //     url: 'https://megangillespiemezzo.com', 
  //     target: '_blank', 
  //   }, 
  //   description: 'I did a two week internship through my school with the best ever Megan Gillespie, which consisted of fixing up, editing, and streamining her website.', 
  //   class: 'featured', 
  // }, 
]

var itemsHTML = ''

items.forEach(function(item, i) {
  if (!!item.class === false) item.class = ''
  var classList = ['item']
  if (item.class.includes(' ')) {
    item.class.split(' ').forEach(function(i) {
      classList.push(i)
    })
  }
  var className = classList.join(' ')

  var target = ''
  if (!!item.link.target) {
    target = ` target="${item.link.target}"`
  }

  itemsHTML += `
    <div class="${className}">
      <a href="${item.link.url}"${target} class="image-link"></a>
      <div>
        <a href="${item.link.url}"${target}>
          <h3>${item.name}</h3>
        </a>
        <div class="description">
          <span>${item.description}</span>
        </div>
      </div>
    </div>
  `
})

---
<Layout title="Portfolio">
  <SiteGridContent>
    <section class="grid portfolio" set:html={itemsHTML}>
      <!-- <div class="item">
        <div>
          <div class="description">
            <span>I did a two week internship through my school with the best ever Megan Gillespie, which consisted of fixing up, editing, and streamining her website.</span>
          </div>
        </div>
      </div> -->
    </section>
  </SiteGridContent>
</Layout>