---
import Layout from '../layouts/Layout.astro'
import SiteGridContent from '../components/SiteGridContent.astro'

import Script from '../utils/script.astro'

var posts = []

var site = Astro.site.toString()
if (site.includes('://')) site = site.split('://')[1]
if (site.endsWith('/')) site = site.slice(0, -1)

var location = {
  protocol: 'https:', 
  host: site, 
}

await fetch('https://blogfeed.adarshrkumar.dev/getAllPosts')
  .then(response => response.json())
  .then(json => {console.log(json); posts = json})
//   .catch(err => console.error(err))

---
<Layout title="Blog">
  <SiteGridContent classItems="posts">
    {
      posts
    }
    {
      posts.map(function(post, i) {
        if (!post.image) {
          post.image = {}
          post.image.src = `https://image.thum.io/get/maxAge/12/width/${512}/${location.protocol}//${location.host}/blogPost?id=${post.slug}`
          post.image.alt = `Screenshot of the "${post.title}" post.`
        }
        if (post.textContent) {
          if (post.textContent.includes('\n')) post.textContent = post.textContent.split('\n').join(' ')
          if (post.textContent.includes('  ')) post.textContent = post.textContent.split('  ').join(' ')
        }
        
        return (<a href={`/blogPost?id=${post.slug}`} class="item">
          <img class="item__img" src={post.image.src} alt={post.image.alt} />
          {
            !!(post.title || post.textContent) ? <div class="item__info">
              {
                !!post.title ? <h3 class="item__title">{post.title}</h3> : ''
              }
              {
                !!post.textContent ? <p class="item__content">{post.textContent.includes(' ') ? post.textContent.split(' ').slice(0, 10).join(' ') : post.textContent}</p> : ''
              }
            </div> : ''
          }
        </a>)
      })
    }
  </SiteGridContent>
</Layout>