---
import '../styles/pages/[about, contact].scss'
import '../styles/pages/post.scss'

import Layout from '../layouts/Layout.astro'

---
<Layout title="Blog" pageType="post" classItems="ignorePadding" inlineStyles="display: none;">
    <section class="info">
        <a href="/authors" class="author">See All Authors</a> | <span class="date">Today</span>
    </section>
    <section class="post-area">
        <div class="scroll-percentage"></div>
        <article class="post-content">

        </article>
    </section>
    <script is:inline src="/eruda.js"></script>
    <script>
        const urlSearchParams = new URLSearchParams(window.location.search);
        const postId = urlSearchParams.get('id');

        var post = await Astro.glob(`../../blog/posts/${postId}.md`)

        if (post) {
            post = post[0]
            console.log(post)

            var postEle = document.querySelector('.post')
            var infoEle = postEle.querySelector('.info')
            var author = postFile.frontmatter.author
            
            var link = document.createElement('link')
            link.rel = 'stylesheet'
            link.href = `https://blogfeed.adarshrkumar.dev/getStyles?id=${postId}`
            postEle.appendChild(link)

            document.querySelector('.page-title').textContent = post.frontmatter.title
            document.title = `${post.frontmatter.title} | ${document.title}`
            
            infoEle.querySelector('.author').href = `/authorPage?username=${author.username}`
            infoEle.querySelector('.author').textContent = author.displayName

            infoEle.querySelector('.date').textContent = post.frontmatter.date

            postEle.querySelector('.post-content').innerHTML = post.compiledContent()
            postEle.style.display = ''
        }
        else location.href = '/blog'
    </script>
</Layout>