---
import Layout from '../layouts/Layout.astro'
import SiteGridContent from '../components/SiteGridContent.astro'

import Script from '../utils/script.astro'

var posts = []

var site = Astro.site.toString()
if (site.includes('://')) site = site.split('://')[1]
if (site.endsWith('/')) site = site.slice(0, -1)

var location = {
  protocol: 'https:', 
  host: site, 
}

await fetch('https://blogfeed.adarshrkumar.dev/getAllPosts')
  .then(response => response.json())
  .then(json => posts = json)
  .catch(err => console.error(err))

---
<Layout title="Blog">
  <SiteGridContent classItems="posts">
    {
      posts.map(function(post, i) {
        if (!post.image) {
          post.image = {}
          var postUrl = `${location.protocol}//${location.host}/blogPost?id=${post.slug}&hideHeader=true`
          var imageSize = 512
          post.image.src = `https://webshot.adarshrkumar.dev/take?url=${encodeURIComponent(postUrl)}&viewport_width=${imageSize}&viewport_height=${imageSize}`
          post.image.alt = `Screenshot of the "${post.title}" post.`
        }
        if (post.textContent) {
          if (post.textContent.includes('\n')) post.textContent = post.textContent.split('\n').join(' ')
          if (post.textContent.includes('  ')) post.textContent = post.textContent.split('  ').join(' ')
          
          post.previewContent = post.textContent
          if (post.previewContent.length > 50) post.previewContent = post.previewContent.slice(0, 50)
          while (
            post.previewContent.endsWith(' ') || 
            post.previewContent.endsWith(',') || 
            post.previewContent.endsWith(':') || 
            post.previewContent.endsWith('(') || 
            post.previewContent.endsWith('[') || 
            post.previewContent.endsWith('{')
          ) post.previewContent = post.previewContent.slice(0, -1)
        }
        
        return (<a href={`/blogPost?id=${post.slug}`} class="item">
          <img class="item__img" src={post.image.src} alt={post.image.alt} />
          {
            !!(post.title || post.textContent) ? <div class="item__info">
              {
                !!post.title ? <h3 class="item__title">{post.title}</h3> : ''
              }
              {
                !!post.previewContent ? <p class="item__content">{post.previewContent}</p> : ''
              }
            </div> : ''
          }
        </a>)
      })
    }
  </SiteGridContent>
</Layout>