---
import Layout from '../layouts/Layout.astro'
import SiteGridContent from '../components/siteGridContent.astro'

import '../styles/pages/photos.scss'

var site = Astro.site.toString()
if (site.includes('://')) site = site.split('://')[1]
if (site.endsWith('/')) site = site.slice(0, -1)

var photos = await Astro.glob('../../content/allPhotos/*/*')

var datas = []
photos.map((data, i) => {
  data = data.default
  if (data.src) {
    return ''
  }

  datas.push(data)
})

photos.map((image, i) => {
  if (!image.src) return

  var logs = []
  var data = datas.find(f => {logs.push(`${f.fullname} === ${getFName(image.src)}`); return f.fullname === getFName(image.src)})
  photos[i].logs = logs
})

function getFName(name) {
  if (name.includes('/')) {
    name = name.split('/').slice(-1)[0]
    if (name.includes('?')) name = name.split('?')[0]
    if (name.includes('.')) {
      if (name.split('.').length > 2) {
        name = name.split('.')
        name = `${name.slice(0, -2).join('.')}${name.slice(-1).join('.')}`
      }
    }
  }
  return name
}

var options = {
  keys: [
    'min', 
  ], 
  values: {
    min: '24rem', 
  }, 
}
---
<Layout title="Photos">
  <SiteGridContent classItems="photos" options={options} mode="lite">
    {
      photos.map(function(image, i) {
        if (image.default) image = image.default
        if (!image.src) {
          return ''
        }
        
        return <pre>{JSON.stringify(image.logs, null, 4)}</pre>

        // var data = image.data

        // return (
        //   <div class="item">
        //     <img class="item__img" src={image.src || ''} alt={image.alt || ''} style={`--placeholder: url('https://imgs.adarshrkumar.dev/Photos/Places/${getFName(image.src || '') ||''}?w=25%25'); --img-width: ${image.width}px; --img-height: ${image.height}px`} loading="lazy" decoding="async" />
        //     {
        //       (!!data.title || !!data.info) ? (
        //         <div class="item__info">
        //           {!!data.title ? <h3 class="item__title">{data.title}</h3> : ''}
        //           {!!data.location ? <span class="item__content">📍 {data.location}</span> : ''}
        //         </div>
        //       )
        //        : ''
        //     }
        //   </div>
        // )
      })
    }
  </SiteGridContent>
</Layout>