---
import '../styles/grid.scss'
import '../styles/pages/portfolio.scss'

import Layout from '../layouts/Layout.astro'
import SiteGridContent from '../components/SiteGridContent.astro'

var items = [
  {
    name: 'Graphics for Good', 
    link: {
      url: 'https://graphics-for-good.com', 
      target: '_blank', 
    }, 
    description: 'I helped develop and am the Lead Website Designer and Manager for the Graphics for Good Club at my school.', 
    // class: 'featured', 
  }, 
  {
    name: 'San Mateo County Astronomical Society', 
    link: {
      url: 'https://smcas.net', 
      target: '_blank', 
    }, 
    description: 'My dad is on the SMCAS board, and they had been talking about creating a new accessible website for a while, so he asked me if I would be willing to help. I said that I wouls and spent my winder blrak working on copying content to a WordPress site.', 
    // class: 'featured', 
  }, 
  // {
  //   name: 'Megan Gillespie', 
  //   link: {
  //     url: 'https://megangillespiemezzo.com', 
  //     target: '_blank', 
  //   }, 
  //   description: 'I did a two week internship through my school with the best ever Megan Gillespie, which consisted of fixing up, editing, and streamining her website.', 
  //   // class: 'featured', 
  // }, 
]

items.forEach(function(item, i) {
  if (!!item.class === false) item.class = ''
  var classList = ['item']
  if (item.class.includes(' ')) {
    item.class.split(' ').forEach(function(i) {
      classList.push(i)
    })
  }
  var className = classList.join(' ')
  item.class = className

  var target = '_self'
  if (!!item.link.target) {
    target = item.link.target
  }
  item.link.target = target
})

---
<!-- <Layout title="Portfolio">
  <SiteGridContent classItems="portfolio">
      {
        items.map(item, i) {
          var src = `https://image.thum.io/get/maxAge/12/width/${512}/${item.link.url}`
          return (<a href={item.link.url} target={item.link.target} class={`item ${item.class}`}>
            <img src={imgSrc} alt class="item__img" />
            <div>
              <h3 class="item__title">{item.name}</h3>
              <p class="item__content">
                {item.description}
              </p>
            </div>
          </a>)
        }
      }
  </SiteGridContent>
</Layout> -->