---
import '../styles/grid.scss'
import '../styles/pages/portfolio.scss'

import Layout from '../layouts/Layout.astro'
import SiteGridContent from '../components/SiteGridContent.astro'

var items = [
  {
    name: 'Graphics for Good', 
    link: {
      url: 'https://graphics-for-good.com', 
      target: '_blank', 
    }, 
    description: 'I helped develop and am the Lead Website Designer and Manager for the Graphics for Good Club at my school.', 
  }, 
  {
    name: '', 
  }, 
]

---
<Layout title="Portfolio">
  <SiteGridContent>
    <section class="grid portfolio">
      {
        items.map(item => {
          <div class="item">
            <a href={item.link.url} target={item.link.target} class="image-link" />
            <div>
              <a href={item.link.url} target={item.link.target} >
                <h3>Graphics for Good</h3>
              </a>
              <div class="description">
                <span set:html={item.description} />
              </div>
            </div>
          </div>
        })
      }
      <div class="item">
        <a href="https://graphics-for-good.com" target="_blank" class="image-link" />
        <div>
          <a href="https://graphics-for-good.com"target="_blank" >
            <h3>Graphics for Good</h3>
          </a>
          <div class="description">
            <span>I helped develop and am the Lead Website Designer and Manager for the Graphics for Good Club at my school.</span>
          </div>
        </div>
      </div>
      <!-- <div class="item">
        <a href="https://megangillespiemezzo.com" target="_blank" class="image-link" />
        <div>
          <a href="https://megangillespiemezzo.com" target="_blank">
            <h3>Megan Gillespie</h3>
          </a>
          <div class="description">
            <span>I did a two week internship through my school with the best ever Megan Gillespie, which consisted of fixing up, editing, and streamining her website.</span>
          </div>
        </div>
      </div> -->
    </section>
  </SiteGridContent>
</Layout>
