---
import '../styles/pages/projects.scss'

import Layout from '../layouts/Layout.astro'
import SiteGridContent from '../components/SiteGridContent.astro'

var projects = [
  {
    name: 'Misc Projects', 
    items: [
      {
        name: 'Timer Application', 
        link: {
          url: 'https://timer.adarshrkumar.dev', 
          target: '_blank', 
        }, 
        description: 'Punch in an hour minute and second value and see the timer whizz into action.', 
        // class: 'featured', 
      }, 
      {
        name: 'Live Clock', 
        link: {
          url: 'https://live-clock.adarshrkumar.dev', 
          target: '_blank', 
        }, 
        description: 'This clock application harnesses the datetime features of JavaScript to display your local time no matter where you are.', 
        // class: 'featured', 
      }, 
      {
        name: 'Nearpod Joiner', 
        link: {
          url: 'https://nearpod.adarshrkumar.dev', 
          target: '_blank', 
        }, 
        description: 'Input a code and it will join the presentation for you!', 
        // class: 'featured', 
      }, 
      {
        name: 'Favicon Generator', 
        link: {
          url: 'https://favicons.adarshrkumar.dev', 
          target: '_blank', 
        }, 
        description: 'Input a URL and it will display the favicon for that URL!', 
        // class: 'featured', 
      }, 
      {
        name: 'Virtural Assistant', 
        link: {
          url: 'https://assistant.adarshrkumar.dev', 
          target: '_blank', 
        }, 
        description: 'A GPT-4 Based Full Virtual Assistant!', 
        // class: 'featured', 
      }, 
    ]
  }, 
  {
    name: 'Games',
    items: [
      {
        name: 'My UNO Game', 
        link: {
          url: 'https://uno.adarshrkumar.dev', 
          target: '_blank', 
        }, 
        description: 'Play UNO Online!', 
        // class: 'featured', 
      }, 
      {
        name: 'My Tic-Tac-Toe Game', 
        link: {
          url: 'https://tic-tac-toe.adarshrkumar.dev', 
          target: '_blank', 
        }, 
        description: 'Play Tic-Tac-Toe Online!', 
        // class: 'featured', 
      }, 
      // {
      //   name: 'Graphics for Good', 
      //   link: {
      //     url: 'https://graphics-for-good.com', 
      //     target: '_blank', 
      //   }, 
      //   description: '', 
      //   // class: 'featured', 
      // }, 
    ]
  }
]

portfolio.forEach(category, i) {
  category.items.forEach(function(item, i) {
    if (!!item.class === false) item.class = ''
    var classList = ['item']
    if (item.class.includes(' ')) {
      item.class.split(' ').forEach(function(i) {
        classList.push(i)
      })
    }
    var className = classList.join(' ')
    portfolio[i].items[i2].class = className

    var target = '_self'
    if (!!item.link.target) {
      target = item.link.target
    }
    portfolio[i].items[i2].link.target = target
  })
}

---
<!-- <Layout title="Projects">
  {
    projects.map(category, i) {
      <SiteGridContent>
        <h3>{project.name}</h3>
        {
          project.items.map(item, i2) {
            var src = `https://image.thum.io/get/maxAge/12/width/${512}/${item.link.url}`
            return (<a href={item.link.url} target={item.link.target} class={`item ${item.class}`}>
              <img src={imgSrc} alt class="item__img" />
              <div>
                <h3 class="item__title">{item.name}</h3>
                <p class="item__content">{item.description}</p>
              </div>
            </a>)
          }
        }
      </SiteGridContent>
      <div class="divider h" style="--s: 1000px;"></div>
    }
  }
</Layout> -->