---
import '../styles/pages/[about, contact].scss'
import '../styles/pages/post.scss'

import Layout from '../layouts/Layout.astro'

export function getStaticPaths() {
    return [
        {params: {id: 'hello-world'}}, 
        {params: {id: 'nodebooks'}}, 
        {params: {id: 'some-old-templates-that-i-found'}}, 
    ];
}

// const { id } = Astro.params;

// import authors from '../../blog/authors.js'

// var posts = await Astro.glob('../../blog/posts/*.md')
// var post = posts.find(post => post.file.includes(id))

// var author = post.frontmatter.author
// author = authors[author]

---
<!-- <Layout title={`${post.frontmatter.title} | Blog`} pageType="post" classItems="ignorePadding">
    <section class="info">
        <a href=`/authorPage?id=${author.id}` class="author">{author.displayName}</a> | <span class="date">{post.frontmatter.date}</span>
    </section>
    <section class="post-area">
        <div class="scroll-percentage"></div>
        <article class="post-content" set:html={post.compiledContent()}></article>
    </section>
</Layout> -->