---
import SiteGridContent from '../components/siteGridContent.astro'

import getFName from '../../content/getFName.js'

var site = Astro.site.toString()
if (site.includes('://')) site = site.split('://')[1]
if (site.endsWith('/')) site = site.slice(0, -1)

var location = {
  protocol: 'https:', 
  host: site, 
}

var highlights = ['hello-world', 'nodebooks']

const items = import.meta.glob('../../content/blog/posts/**/*.md', { eager: true })
const keys = Object.keys(items)
const allItems: Post[] = Object.values(items) as Post[];

interface Post {
  file: string;
  frontmatter: {
  };
  rawContent: () => string;
}

var posts: Post[] = []

highlights.forEach(slug => {
  var res = allItems.filter((item: Post) => getFName(item.file) === slug)
  if (res.length > 0) {
    res.forEach(r => posts.push(r))
  }
});

---
<SiteGridContent classItems="posts">
  {
    posts.map(function(post, i) {
      var slug = getFName(post.file)

      var image = {src: '', alt: ''}
      var postUrl = `${location.protocol}//${location.host}/post/${slug}?hideHeader=true`
      var imageSize = 512
      image.src = `https://webshot.adarshrkumar.dev/take?url=${encodeURIComponent(postUrl)}&viewport_width=${imageSize}&viewport_height=${imageSize}`
      image.alt = `Screenshot of the "${post.frontmatter.title}" post.`

      var textContent = post.rawContent()
      if (textContent.includes('\n')) textContent = textContent.split('\n').join(' ')
      if (textContent.includes('  ')) textContent = textContent.split('  ').join(' ')
      
      var previewContent = textContent
      if (previewContent.length > 50) previewContent = previewContent.slice(0, 50)
      while (
        previewContent.endsWith(' ') || 
        previewContent.endsWith(',') || 
        previewContent.endsWith(':') || 
        previewContent.endsWith('(') || 
        previewContent.endsWith('[') || 
        previewContent.endsWith('{') || 
        previewContent.endsWith('[') || 
        previewContent.endsWith('|') || 
        previewContent.endsWith('~') || 
        previewContent.endsWith('@') || 
        previewContent.endsWith('*') || 
        previewContent.endsWith('+') || 
        previewContent.endsWith('=') || 
        previewContent.endsWith('-') || 
        previewContent.endsWith('^')
      ) previewContent = previewContent.slice(0, -1)
      
      return (<a href={`/post/${slug}`} class="item">
        <img class="item__img" src={image.src} alt={image.alt} style={`--placeholder: url('${image.src}&image_quality=${50}')`} />
        {
          !!(post.frontmatter.title || textContent) ? <div class="item__info">
            {
              !!post.frontmatter.title ? <h3 class="item__title">{post.frontmatter.title}</h3> : ''
            }
            {
              !!previewContent ? <p class="item__content">{previewContent}</p> : ''
            }
          </div> : ''
        }
      </a>)
    })
  }
</SiteGridContent>