---
// Imports
import SiteGridContent from '../components/siteGridContent.astro'
import sanitizeMD from '../lib/sanitizeMD'
import { getFeaturedPostsForDisplay, cleanTextContent, createPreviewContent } from '../lib/getPosts'

// Configuration
const featuredPostSlugs = ['hello-world', 'nodebooks']

// Data processing
// Get featured posts with all processing done
const featuredPosts = getFeaturedPostsForDisplay(featuredPostSlugs, Astro.site)

---

<!-- Featured articles component -->
<SiteGridContent classItems="posts">
    {
        featuredPosts.map(async post => {
            // Process text content for preview
            const rawTextContent = sanitizeMD(await post.rawContent())
            const cleanedTextContent = cleanTextContent(rawTextContent)
            const previewContent = createPreviewContent(cleanedTextContent)
            
            // Check if we have content to display
            const hasContent = !!(post.frontmatter.title || cleanedTextContent)
            const hasTitle = !!post.frontmatter.title
            const hasPreview = !!previewContent
            
            return (
                <a href={`/post/${post.slug}`} class="item">
                    <img 
                        class="item__img" 
                        src={post.screenshotImage.src} 
                        alt={post.screenshotImage.alt} 
                        style={`--placeholder: url('${post.screenshotImage.placeholder}')`} 
                    />
                    {hasContent && (
                        <div class="item__info">
                            {hasTitle && (
                                <h3 class="item__title">{post.frontmatter.title}</h3>
                            )}
                            {hasPreview && (
                                <p class="item__content">{previewContent}</p>
                            )}
                        </div>
                    )}
                </a>
            )
        })
    }
</SiteGridContent>