---
import '../styles/components/nav.scss'

import ThemeSwitcher from '../components/themeSwitcher.astro'

var { siteDomain, items, direction, varient } = Astro.props
if (!!varient === false) varient = 'header'

items.forEach(function(item, i) {
    var name = item.name
    var url = item.url
    
    var target = item.target
    if (!!target === false) {
        target = '_self'
    }

    if (!!url) {
        if (url.includes('://')) {
            var domain = url.split('://')[1]
            if (domain.includes('/')) domain = domain.split('/')[0]
            if (domain !== siteDomain) {
                target = '_black'
            }
        }
    }
    else if (!!url === false) {
        url = '/'

        if (name !== 'Home') {
            url += name.toLowerCase()
        }
    }

    item.url = url
    item.target = target
    items[i] = item
})

var buttonsStr = ''
items.forEach(function(item, i) {
    buttonsStr += `<button url=${item.url} class="nav-btn" onclick="goToUrl(this)">${item.name}</button>`
})

---
<nav class="nav" data-direction={direction} data-varient={varient} set:html={buttonsStr}></nav>
<script is:inline>
    var largestWidth = 0
    document.querySelectorAll('.nav-btn').forEach(function(b, i) {
        if (b.clientWidth > largestWidth) largestWidth = b.clientWidth
    })
    document.querySelector('.nav-btn').parentNode.style.setProperty('--min-width', `${largestWidth/16}rem`)

    function goToUrl(btn, target) {
        var link = btn
        if (typeof link !== 'string') {
            link = btn.getAttribute('url')
            target = btn.getAttribute('target')
            if (!!target === false) {
                if (link.includes('://')) target = '_blank'
            }
        }
        if (!!target === false || target == null) target = '_self'
        if (!!link === false) link = '/'
        if (target === '_blank') {
            window.open(link)
        }
        else if (target === '_parent') {
            parent.location.href = link
        }
        else if (target === '_top') {
            top.location.href = link
        }
        else if (target.startsWith('_') === false) {
            document.getElementById(target).src = link
        }
        else if (target === '_self') {
            location.href = link
        }
        else {
            location.href = link
        }
    }
</script>