---
import '../styles/components/grid.scss'
import '../styles/components/liteGrid.scss'

var { id, classItems, mode, options } = Astro.props

if (classItems) classItems = ` ${classItems}`
else classItems = ''

var styleStr = ''
if (options) {
    if (typeof options === 'object') {
        Object.keys(object).forEach((k, i) => {
            if (i !== 0) styleStr += ' '
            var value = options[k]
            styleStr += `--${k}: ${value};`
        })
    }
}

---
<section id={id || ''} class={`grid${mode === 'lite' ? ' lite' : ''}${classItems}`} style={styleStr}>
    <slot />
</section>